.messageList {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 1rem; */
  cursor: pointer;
  /* border: 1px solid green; */
}

.messageList:hover {
  background-color: var(--messageColor);
}

/* .messageList > div:nth-last-of-type(2) {
  border: 1px solid red;
} */

.messageList > div:first-of-type {
  align-self: flex-start;
  /* border: 1px solid red; */
  padding: 5px;
  background-color: aquamarine;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageList > div:nth-of-type(2) {
  margin-right: auto;
  margin-left: 1rem;
}

.messageList > div:nth-of-type(2) > p {
  font-size: 13px;
}
